{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - NOMS Ops" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Welcome to the NOMS Ops section.</h1>

{% endblock %}
