{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Cashbook" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Welcome to the Cashbook section.</h1>

{% endblock %}
