{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Bank Admin" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Welcome to the Bank Admin section.</h1>

{% endblock %}
